
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding: 0.5rem 2rem;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 12px;
    box-shadow: 0 10px 48px rgba(0, 0, 0, 0.25);
    height: auto;
    width: 30rem;
    
  }
  .adviceid{
    color: var(--Neon-Green);
    font-weight: 900;
    letter-spacing: 2px;
  }
  .text{
    font-size: 1.8em;
    letter-spacing: 1px;
    font-weight: 800;
    color: var(--Light-Cyan);
  }
  button{
    background-color: var(--Neon-Green);
    padding: 1rem;
    border-radius: 50%;
    margin-top: 5rem;
    border: none;
  }

  button:hover{
    box-shadow: 0 0 10px var(--Neon-Green), 0 0 40px var(--Neon-Green);
  }
  button:active{
    transform: scale(1.1);
  }

  .patternD{
    content: url('../../src/images/pattern-divider-desktop.svg');
    margin-bottom: -5rem;
  }
  
  @media (max-width: 600px) {
    .card {
      width: 75vw;
    
    }
    .patternD{
      margin-left: -0.5rem;
      margin-bottom: -4rem;
      content: url('../../src/images/pattern-divider-mobile.svg');
    }
  }